{% extends "base.html" %}
{% block content %}
<div class="card">
    <h3>Usuários</h3>
    <table>
        <thead>
            <tr>
                <th>Client ID</th>
                <th>Alias</th>
                <th>Versão</th>
                <th>Status</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for client in clients %}
            <tr>
                <td>{{ client.cid }}</td>
                <td>{{ client.alias or '-' }}</td>
                <td>{{ client.client_version }}</td>
                <td>
                    {% if client.online %}
                    🟢 Online
                    {% else %}
                    🔴 Offline
                    {% endif %}
                </td>
                <td>
                    <form action="{{ url_for('clients.change_alias', cid=client['cid']) }}" method="POST">
                        <input type="text" name="alias" placeholder="Novo alias" required>
                        <button type="submit" class="btn btn-primary">Alterar Alias</button>
                    </form>
                    <form class="inline" method="post" action="{{ url_for('clients.remove_alias', cid=client['cid']) }}">
                        <button class="btn btn-danger" type="submit">Remover</button>
                    </form>
                    <a class="btn btn-secondary" href="{{ url_for('clients.client_details', cid=client['cid']) }}">Detalhes</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}